.newsList {
    $gutter: 30px;
    $columns: 12;
    $minHeight: 200px;

    &__section {
        display: flex;
        flex-wrap: wrap;
    }

    &__box {
        border-style: solid;
        border-radius: 1rem;
        padding-bottom: 1rem;
        background-color: #fff8dc;
        min-height: $minHeight;
    }

    &__col {
        padding-left: $gutter/2;
        padding-right: $gutter/2;
        margin-bottom: $gutter/2;
        margin-left: $gutter/2;
        width: 100%;
    }

    &__col_b {
        width: 3.5 / $columns * 100%;
    }

    @media (max-width: 1200px) {
        &__col_m {
            width: 4 / $columns * 100%;
        }
    }

    @media (max-width: 600px) {
        &__col_sm {
            width: 12 / $columns * 100%;
        }
    }
}