.news {
  $pad: 20px;

  &__ul {
    list-style-type: none;
    padding-left: 0;
  }

  &_link {
    text-decoration: none;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

&__box {
  border-style: solid;
  border-radius: 1rem;
  padding-left: $pad;
  padding-bottom: 1rem;
  background-color: #fff8dc;
}
}