.news {
  &__ul {
    list-style-type: none;
    padding-left: 0;
  }

  &_link {
    text-decoration: none;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
}